<div class="container">
	<br>
	<h1>Ajuda</h1>
	<br>
	<div class="row">
	<div class="col-sm-4" >
		<h3>Como cadastrar unidades de medida?</h3>
		<p>1º Faça login no site.</p>
		<p>2º Na barra superior, clique em 'Coleta de Métrica', depois em 'Unidades de Medida'.</p>
		<p>3º Na nova página escolha 'Nova Unidade de Medida'.</p>
		<p>4º Insira os dados referentes a unidade de medida e salve.</p>
	</div>
	<div class="col-sm-4">
		<h3>Como cadastrar métricas?</h3>
		<p>1º Faça login no site.</p>
		<p>2º Na barra superior, clique em 'Coleta de Métrica', depois em 'Métricas'.</p>
		<p>3º Certifique-se que sua existe pelo menos uma unidade de medida criada.</p>
		<p>4º Na nova página escolha 'Nova Métrca'.</p>
		<p>4º Insira os dados referentes a métrica e salve.</p>
	</div>

	<div class="col-sm-4">
		<h3>Como inserir medidas às métricas?</h3>
		<p>1º Faça login no site.</p>
		<p>2º Na barra superior, clique em 'Coleta de Métrica', depois em 'Métricas'.</p>
		<p>3º Na métrica desejada, escolha 'Adicionar Dados'.</p>
		<p>4º Insira a data da medida, seu nome, e valor. Obs: Insira as medidas referentes à mesma data.</p>
		<p>5º Você pode adicionar novas medidas, se a métrica for indireta. Nesse caso, insira as várias medidas necessárias e combine-as no passo 2.</p>
		<p>6º Clique no botão 'Verifique o Resultado Final' para verificar a combinação de suas métricas e averiguar se é o resultado correto.</p>
		<p>7º Escolha 'Finalizar' para finalizar a inserção de uma medida.</p>
	</div>
	</div>
</div>
