<div class="container">
<br>
<h2>Cadastrar Nova Unidade de Medida</h2>
<div class="row">
    <div class="col-centered">
<%= render 'form' %>
<%= link_to 'Voltar', unit_of_measurements_path, class: 'btn btn-primary' %>

</div>
</div>
</div>
