<div class="container">
<br>
<h1>Escolha uma Métrica Pré-Definida</h1>
<div class="row">
    <div class="col-centered">
    	<div class="btn-group-vertical">
  			<%= link_to 'Linhas de Código - Escala: Absoluta - Unidade de Medida: LOC', create_pre_defined_metric_metrics_path(:param => "1"), class: 'btn btn-primary' %>
  			<%= link_to 'Produtividade - Escala: Ratio - Unidade de Medida: LOC/h', create_pre_defined_metric_metrics_path, class: 'btn btn-primary' %>
  			<%= link_to 'Velocity - Escala: Absoluta - Unidade de Medida: Pontos Entregues', create_pre_defined_metric_metrics_path, class: 'btn btn-primary' %>
		</div>
	</div>
</div>
</div>
