<div class="container">
<br>
<h1>Editar Métrica</h1>
<div class="row">
    <div class="col-centered">
<%= render 'form' %>

<%= link_to 'Voltar', metrics_path, class: 'btn btn-primary' %>
</div>
</div>
</div>
 </div>