<div class="container">
<div class="jumbotron">
  <h1>HBFM</h1>
  <h5>O HBFM é uma ferramenta de base histórica de medições flexível. Esta ferramenta permitirá a você manter todos as métricas da sua organização, consultar gráficos para melhor visualização desses dados e editar suas métricas. Assim, você terá maior controle sobre os dados da sua organização e poderá realizar mudanças nas sua métricas, sem prejudicar os dados já coletados. </h5>
  <p style="text-align: center;"><a class="btn btn-primary btn-lg" href="#" role="button">Aprenda Mais!</a></p>
</div>

	<div><%= link_to 'Métricas', metrics_path %></div>
	<div><%= link_to 'Unidades de Medida', unit_of_measurements_path %></div>

</div>