<h1> Alo </h1>

<div class="container">
	<div><%= link_to 'Métricas', metrics_path %></div>
	<div><%= link_to 'Medidas', measures_path %></div>
	<div><%= link_to 'Unidades de Medida', unit_of_measurements_path %></div>

</div>