<div class="container">
<br>
<h1 class="text-center"><%= @metric.name %> - Cadastrar Medida</h1>
<%= render 'form' %>


<%= link_to 'Voltar', metrics_path, class: 'btn btn-primary' %>

<%= link_to "Finalizar", 'finalize_measure', :method => 'post', class: 'btn btn-success' %>
</div>