<%= content_tag_for :li, measure do %>
    	<%= measure.id %>
		<%= measure.name %>
		<%= measure.value %>
<% end %>
<select id="operador">
		 	<option value="=">=</option>
		 	<option value="+">+</option>
		 	<option value="-">-</option>
		 	<option value="*">*</option>
		 	<option value="/">/</option>
  		</select>
		