$('#ul-measures').append('<%= j render(@measure) %>');
$("#name").val(" ");
$("#value").val(" ");
$("#date").val(" ");

$('#final').html("<%= escape_javascript(render :partial => 'measures/final_measure') %>");

var sum = 0.0;
$('#verify-results').click(function(){
 $('.value').each(function(){
    sum += parseFloat($(this).text());
});
 $('#show-results').append('<p> '+sum+' </p>');
 console.log( sum );
});